<% if product_category_menu.has_children? %>
	<a href='#' class ='toggler'><i class="icon-plus "></i>
		<span class="label_menu label"><%= product_category_menu.name	%></span></a>  
<% else %>
	<%= link_to "#{product_category_menu.name}".html_safe, products_path(category_id: product_category_menu)  %>
<% end %>
