<h2 class="brdr-btm">Редактировать категорию</h2>
<%= render 'form' %>
<div class='btn-bottom'>
	<%= link_to 'Show', @product_category, class:"btn" %>
	<%= link_to 'Back', product_categories_path, class:"btn" %>
</div>
