<h2 class="brdr-btm"><%= t(:product_categories) %></h2>
<ul class='product_categoty'>
  <%= nested_categories @product_categories %>
</ul>
<div class='btn-bottom'>
	<%= link_to t(:new), new_product_category_path,:class => 'btn' %>
</div>	

