<h3>Product categories:</h3>
<ul class='product_categoty'>
  <%= nested_categories @product_categories.arrange %>
</ul>

<br />

<%= link_to 'New Product category', new_product_category_path,:class => 'btn btn-primary' %>
<script>
    $(document).ready(function () {
        $('li.tree-toggler').click(function () {
            $(this).parent().children('ul.tree').toggle(300);
        });
    });
</script>
