<h2 class="brdr-btm">Редактировать категорию</h2>

<%= render 'form' %>
<div class="btn-bottom">
	<%= link_to t(:show), @product_state, class:'btn' %> |
	<%= link_to  t(:back), product_states_path, class:'btn'%>
</div>	
