<p>
  <b>Имя:</b>
  <%= @product_state.name %>
</p>

<div class="btn-bottom">
	<%= link_to 'Редактировать', edit_product_state_path(@product_state),class:'btn' %> |
	<%= link_to 'Назад', product_states_path, class:'btn' %>
</div>	
