

[class^="icon-"],
[class*=" icon-"]  {
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-top: 1px;
	line-height: 14px;
	vertical-align: text-top;	  
	background-repeat: no-repeat;font-style: normal;} 

i.icon-remove   { background-image: url("delete_icon&16.png") }
i.icon-edit	    { background-image: url("doc_edit_icon&16.png") }
i.icon-zoom-in  { background-image: url("zoom_icon&16.png") }
i.icon-user     { background-image: url("user_icon&16.png") }
i.icon-on-off   { background-image: url("on-off_icon&16.png") }
i.icon-plus     { background-image: url("round_plus_icon&16.png") }


