html { background: #000 url(c6-footerbg.jpg); color: #fff; }
body { background: #f3f3f3 url(c6-bg.jpg) 0 0 repeat; color: #636363; font: normal 62.5% Helvetica, Arial, sans-serif; }


h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { /*color: #000 ;*/ text-decoration: none; }
	h1 a:hover, h1 a:focus, h2 a:hover, h2 a:focus, h3 a:hover, h3 a:focus,  h4 a:hover, h4 a:focus, h5 a:hover, h5 a:focus, h6 a:hover, h6 a:focus { text-decoration: underline; }
h2, .main h2, .full h2, .full h3, .main h3, h4 { color: #000; }
h2, .full h2, .main h2 { font-size: 3em; margin-bottom: 10px; } 
h3 { font-size: 2.8em; }
.post .blog-meta h3 a, .post .blog-meta h2 a { font-size: 1em; }
.post h4 { color: #000000; }

p, ul, dl, ol { margin: 0 0 1.5em; font-size: 12px; }

blockquote { margin: 0 0 1.2em; padding: 0.5em 1em 0; }

p a { text-decoration: underline; }
p a:hover, p a:focus { text-decoration: none; }

a { text-decoration: none;}
a:hover, a:focus { color: #000; text-decoration: underline;}

input, textarea { font-family: Helvetica, Arial sans-serif; }

table { margin-bottom: 20px; }

img { border: none; 
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none; }
	
th { font-weight: normal; }

.sale { font-size: 12px; font-family: Helvetica, Arial, sans-serif;   }

/*-------------------------------------------
    GLobal Combinations
-------------------------------------------*/

#cartform th, #cartform td, #search-results ol, .comment-list li, .brdr-btm, .post  { border-bottom: 1px solid #d6d6d6; }

blockquote {  border-left: 1px solid #d6d6d6;  }

input[type="text"], textarea, .collection .product-name a  {  border: 1px solid #d6d6d6; }

/*-------------------------------------------
    Header
-------------------------------------------*/

.home #header { margin-bottom: 0px; border-bottom: none; }
#header { margin: 0 0 48px; padding: 24px 0 0; border-bottom: 1px solid #dedede; }
	#header form { float: right; margin: 5px 0 0 0; }
	#header form p { margin: 10px 0 0; }
	#header h1 { margin-bottom: 0; padding-bottom: 20px; }
	#header #page-title { padding-bottom: 2px; margin-bottom: 0;  border-bottom: 6px solid #dedede; }
		#header h1 a { display: inline; color: #000; }
			#header h1 a:hover strong, #header h1 a:focus strong { text-decoration: none; }
		#header h1 a strong { font-weight: normal; }
		.logo img { margin-top:0; }

	#main-nav { font-size: 12px; } 
	#main-nav li { position:relative; top: -6px; margin: 0 0 -5px; list-style-type: none; }
		#main-nav li a { padding: 7px 23px 5px; font-size: 22px; line-height: 60px; text-transform: uppercase; text-decoration: none; color: #999999; display: inline-block;  border: 6px solid transparent; border-width: 6px 0;}
		#main-nav li.on a { color: #000; border-color: #1fc3ec; }
		#main-nav li a:hover, #main-nav li a:focus { color: #16b0dd; }
		
		#main-nav li.with-dropdown a { padding-right: 40px;  }
			#main-nav li.with-dropdown:hover a, #main-nav li.with-dropdown:focus a { border-top-color: #999; }
		#main-nav li.with-dropdown ul a:hover { background:#fff; } 
		#header .with-dropdown:hover li a { border: none; }
			
			
		#header .with-dropdown ul { background: #f3f3f3; left: 0; padding-bottom: 0; border: 1px solid #dedede; border-top: none; } 
			#header .with-dropdown li a {  font-size:18px; text-transform: none; padding: 20px 16px 15px 20px; }
				#main-nav .with-dropdown a:after { content: url(c6-down-arrow.gif); right: 25px; }
	
	#utility { position: absolute; right: 0; top: 0; }
			.cart i, .cart b { padding: 10px 20px; display: inline-block; font-size: 20px; }
			.cart i { font-style: normal; color: #fff; background: url(c6-cart.gif) 20px 13px no-repeat; padding-left: 50px; }
			.cart b { font-weight: normal; color: #323232; background: #e4e3e3; 
				-moz-border-radius: 0 0 2px 0;
				-webkit-border-radius: 0 0 2px 0;
				border-radius: 0 0 2px 0; 
				}
			a.cart { display:inline-block; text-decoration:none; }
			.cart span { display: inline-block; margin-left: 8px;  
				background-color: #494949;
				background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(73, 73, 73)), to(rgb(54, 54, 54)));
				background-image: -webkit-linear-gradient(top, rgb(73, 73, 73), rgb(54, 54, 54));
				background-image: -moz-linear-gradient(top, rgb(73, 73, 73), rgb(54, 54, 54));
				background-image: -o-linear-gradient(top, rgb(73, 73, 73), rgb(54, 54, 54));
				background-image: -ms-linear-gradient(top, rgb(73, 73, 73), rgb(54, 54, 54));
				background-image: linear-gradient(top, rgb(73, 73, 73), rgb(54, 54, 54));				
				-moz-border-radius: 0 0 3px 3px;
				-webkit-border-radius: 0 0 3px 3px;
				border-radius: 0 0 3px 3px; 
				}
			.customer { font-size: 15px; }
#search, #search-2 { width: 200px; }
	form #searchtext, form #searchtext-2 { background-color: #ededed; border: none; padding: 11px 0px 11px 10px; margin-right: 49px; height: auto; font-size:20px; line-height:20px; display:block; 
		-moz-border-radius: 3px 0 0 3px;
		-webkit-border-radius: 3px 0 0 3px;
		border-radius: 3px 0 0 3px;
		}
	#searchbutton, #searchbutton-2 { top: 0; }
	#searchbutton, #searchbutton-2 { right: 0; }
	#searchbutton, #searchbutton-2 { padding: 0; }
	
	#home-hero { width: 978px; left: 0; border-top: 1px solid #dedede; }
	.panel { width: 978px; min-height:435px; padding: 0; }
		.panel img { border: none; margin: 0;
			padding-bottom: 14px;
			background:url(c6-carousel-shadow.png) no-repeat left bottom;
			-moz-box-shadow:none; 
			-webkit-box-shadow: none; 
			box-shadow: none; }
	

/*-------------------------------------------
    Footer
-------------------------------------------*/
#footer-wrapper { background: #000 url(c6-footerbg.jpg); }

	#footer h2 { color: #fff; text-transform: uppercase; font-size: 22px; }
	#footer ul li, #footer p { font-family: Helvetica, Arial, sans-serif; color: #b7b7b7; letter-spacing: 0; }
#footer div.sub-floor { border-top: 1px solid #515151; }
	
		#footer-wrapper a { color: #1fc3ec; font-weight: bold; }
	.payment-methods img { border: none; }

/*-------------------------------------------
    Cart
-------------------------------------------*/
#cartform th { color: #636363; text-transform: none; font-size: 18px; font-weight: normal; }
	.cart-price { color: #040404; }
	#cartform .total { color: #000; }
	#checkout .additional-checkout-buttons p { color: #636363; }
	#checkout h3 { color: #636363; }
	#checkout h3 .checkout-meta { font-style: italic; color: #636363; font-size: 1.4em;}
	
	.cart-details h3 { font-size: 2em; }

/*-------------------------------------------
    Blog
-------------------------------------------*/

.blog-meta .date a { color: #636363; }
.article-title {  font-size: 1.4em; }
#comments label { font-size: 1em; }
.article, .recent-posts li, #search-results p { font-family: Helvetica, Arial, sans-serif; }

#comments form {  margin: 0 0 40px 0px; }
/*-------------------------------------------
    Collection
-------------------------------------------*/

.collection a { padding: 10px; }

/*-------------------------------------------
    Product
-------------------------------------------*/
	.product-container h2 { font-size: 54px;  }
	.brand, .stock { color: #999999; font-size: 22px;  }
	.brand {  margin-bottom: 23px; padding-bottom: 23px; color: #999999; font-size: 22px; border-bottom: 1px dashed #d3d3d3; }
	.desc { padding-top: 1em; color: #636363; font-size: 16px; line-height: 1.6; font-family: Helvetica, Arial, sans-serif; border-top: 1px dashed #d3d3d3; }
		.desc p { font-size: 16px; line-height: 1.6; }
	.product-container form { margin-bottom: 0; }
	.price { font-size: 36px; margin-bottom: 0; color: #000; }
	.product-type { font-size: 1.4em; }
	.full { border-top: 1px solid #d6d6d6; padding-top: 20px; }
#gallery .large img { padding-bottom: 11px; background: url(c6-shadow-sm-left.png) left bottom no-repeat,  url(c6-shadow-sm-right.png) right bottom no-repeat; }
.gallery-thumbs a img { border: 3px solid transparent; 
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
 }
.gallery-thumbs a:hover img, .gallery-thumbs a:focus img { border: 3px solid #1fc3ec; }

/*-------------------------------------------
    Slideshow
-------------------------------------------*/

.hero-callout { right: 0px; bottom: 45px;  }
	.hero-callout .inner-wrapper { padding: 28px 36px; background:#1fc3ec; margin-top:-94px; width: 298px; opacity:.9; 
	-webkit-transition: all 150ms ease-in; /* Saf3.2+, Chrome */
	-moz-transition: all 150ms ease-in; /* FF3.7+ */
	-o-transition: all 150ms ease-in; /* Opera 10.5+ */
	transition: all 150ms ease-in; /* futureproofing */
	}
		.hero-callout .inner-wrapper:hover { opacity:1; }
		.hero-callout p.product-name a, .hero-callout p .price { color: #fff; font-size: 54px; letter-spacing:-.1; text-decoration: none; line-height:.9; }
		.hero-callout p.product-name a { 
			position: relative; z-index: 100; display: block; 
			padding: 28px 36px 82px 36px; margin: -28px -36px -82px -36px;
			color: #fff; 
			}
		.hero-callout p.product-name a:hover, .hero-callout p.product-name a:focus  { color: #fff;  text-decoration: none; }
		.hero-callout .inner-wrapper p { color: #fff; font-size: 1.6em; margin-bottom: 0;  }
		.hero-callout .act { float: left; }
		.hero-callout .cta,  .hero-callout .cta {  display:none; }
		.hero-callout .cta:hover,  .hero-callout .cta:hover, .hero-callout .cta:focus,  .hero-callout .cta:focus { color: #fff; }
		#home-hero .bx-pager { right: 10px; }
/*-------------------------------------------
    General Styles
-------------------------------------------*/

.sidebar h2, .meta h3 {  border-top: 6px solid #dedede;  padding-top: 8px; font-size: 2.2em; text-transform: uppercase; margin-bottom: 8px; color: #000000; }
.sidebar li, .meta li { list-style: none; margin: 0; border-top: 1px dashed #d3d3d3;}
	.sidebar li a, .meta li a { text-decoration: none; color: #636363; display: block; padding: 8px 0 7px; }
	.sidebar ul, .meta ul { font-size: 1.8em; }

 .cta, .cta { line-height: 1; letter-spacing: 0; font-size: 18px; padding: 11px 19px 10px; letter-spacing: .1em; background: #1fc3ec; color: #fff; text-decoration: none; text-transform: uppercase; display: inline-block; cursor: pointer; 
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px; 
}
.product-detail .cta { padding-left: 50px; background: #1fc3ec url(c6-cart-white.png) 20px 50% no-repeat; }
.cta:hover, .cta:focus { color: #fff; background-color: #16b0dd;}
.cta:hover { 
	-webkit-transition: background-color 150ms ease-in; /* Saf3.2+, Chrome */
	-moz-transition: background-color 150ms ease-in; /* FF3.7+ */
	-o-transition: background-color 150ms ease-in; /* Opera 10.5+ */
	transition: background-color 150ms ease-in; /* futureproofing */
	}

input.cta { border: none; }

.alt-cta { font-weight: bold; }
#cartform .alt-cta { font-weight: normal; text-decoration: underline; }

.product-name a { line-height: 1; font-size: 22px; line-height: 26px; margin-bottom: 10px; text-decoration: none; }
.product-name a:hover, .product-name a:focus { text-decoration: underline; }
.product-name a img { padding-bottom: 11px; background: url(c6-shadow-sm-left.png) left bottom no-repeat,  url(c6-shadow-sm-right.png) right bottom no-repeat; }

#searchtext:focus { background: #fff; color: #000; }

.caption { font-family: Helvetica, Arial, sans-serif; font-size: 12px !important; }
	
.brdr-btm:last-child { border-bottom: none; }

/*-------------------------------------------
   Customer 
-------------------------------------------*/
#customer_orders p, #customer_detail, #customer_sidebar, #content .note { font-size: 15px; }


/*-------------------------------------------
   Typekit Fallback 
-------------------------------------------*/
#header h1 a strong {  font-size: 41px; }

/*-------------------------------------------
   Typekit / Typography
-------------------------------------------*/
.wf-active #header h1 a strong { color: #000; font-size: 71px; text-transform: uppercase; letter-spacing: 1px; }

.wf-loading body, .wf-loading #footer h2, .wf-loading  #header h1 a, .wf-loading  .sidebar h2, .wf-loading .meta h3, .wf-loading .hero-callout .inner-wrapper p, .wf-loading  .hero-callout .price, .wf-loading .product-name a, .wf-loading #searchtext:focus, .wf-loading h1, .wf-loading  h2, .wf-loading h3, .wf-loading  h5, .wf-loading  .hero-callout p.product-name a, .wf-loading .article-title, .wf-loading  .price, .wf-loading .brand, .wf-loading .product-name, .wf-loading  .collection a, .wf-loading  #cartform th, .wf-loading  .additional-checkout-buttons p, .wf-loading  .cart-price, .wf-loading  .total, .wf-loading .cta, .wf-loading form #searchtext, .wf-loading form #searchtext-2 
{ visibility:hidden; } 


 body,  #footer h2,  #header h1 a,  .sidebar h2, .meta h3, .hero-callout .inner-wrapper p,  .hero-callout .price, 
.product-name a, #searchtext:focus, h1,  h2,  h3,  h5,  .hero-callout p.product-name a, .article-title,  .price,  .brand,  
.product-name,  .collection a,  #cartform th,  .additional-checkout-buttons p,  .cart-price,  .total,   .cta ,
	form #searchtext, form #searchtext-2 
{ font-family: din-condensed-web, sans-serif; } 