<div class="container">
		<div class="row">
			<div class="span3">
				<h5>Учетная запись</h5>
			 </div>
			<div class="span3">
				<h5>Информация</h5>
			 </div>
			<div class="span3">
				<h5>Наши предложения</h5>
			 </div>
			<div id="socialMedia" class="span3 pull-right">
				<h5>Мы в сети </h5>
				<a href="#"><%= image_tag "facebook.png" %></a>
				<a href="#"><%= image_tag "twitter.png" %></a>
				<a href="#"><%= image_tag "youtube.png" %></a>
			 </div> 
		 </div>
	</div><!-- Container End -->
</div>