<div id="footer" >
		<div class="contact">
			<h2>Contact Information</h2>
			<ul>
				<li>All the Gadgets</li>

				 
				<li>
					Phone: <span>888.555.5555</span>
				</li>
				 
		
				 
				<li>
					Email: <a href="mailto:cog@ify.com">cog@ify.com</a> 
				</li>
				 
				
				
				<li>
					Twitter: <a href="http://www.twitter.com/happycog">happycog</a>
				</li>
				 
				
				
				<li>
					Facebook: <a href="http://facebook.com/happycog">Happy Cog</a>
				</li>
				 


			</ul>
		</div>

	
		<div class="payment-methods">
			<h2>Payment Methods</h2>
			<ul>
				<li><img alt="Paypal" src="http://cdn.shopify.com/s/files/1/0108/3832/t/3/assets/icon-paypal.png?0"></li>
				<li><img alt="Paypal" src="http://cdn.shopify.com/s/files/1/0108/3832/t/3/assets/icon-visa.png?0"></li>
				<li><img alt="Paypal" src="http://cdn.shopify.com/s/files/1/0108/3832/t/3/assets/icon-amex.png?0"></li>
				<li><img alt="Paypal" src="http://cdn.shopify.com/s/files/1/0108/3832/t/3/assets/icon-mastercard.png?0"></li>
				<li><img alt="Paypal" src="http://cdn.shopify.com/s/files/1/0108/3832/t/3/assets/icon-discover.png?0"></li>
			</ul>
		</div>



		<div class="useful-links">
			<h2>Useful Links</h2>
			<ul>
				
				<li><a href="/search">Search</a></li>
				
				<li><a href="/pages/about-us">About Us</a></li>
				
				<li><a href="/pages/styles">Styles</a></li>
				
			</ul>
		</div>

		

		<div>
			<h2>Store Description</h2>
			<p>Morbi malesuada nulla nec purus convallis consequat. Vivamus id mollis quam. Morbi ac.</p>
		</div>


		<div class="sub-floor">
			<p class="copyright">&copy; 2013 All the Gadgets, All Rights Reserved.</p>
			
			<p class="external-branding">Powered by <a href="http://www.shopify.com/">Shopify</a>. Designed by <a class="cog" href="http://happycog.com/">Happy Cog</a></p>
			
		</div>
	</div>