<ul class='breadcrumb'>
	<li><%= t(".Categories") %></li>
</ul>
<div style="overflow-y: scroll; overflow-x: hidden; height: 500px;">
	<ul class='nav nav-list'>
		<%= nested_categories_menu ProductCategory.scoped.arrange %>		
	</ul>
</div>

<script>
    $(document).ready(function () {
        $('li.tree-toggler').click(function () {
            $(this.id).parent().children('ul.tree').toggle(300);
        });
    });
      
</script>
                